---
import type { GetStaticPaths } from "astro";
import type { PokemonListResponse } from "../../interfaces/pokemon-list.response.interface";
import PokemonMainLayout from "../../layouts/PokemonMainLayout.astro";
import PokemonCard from "../../components/pokemons/PokemonCard.astro";

export const getStaticPaths = (async () => {
  const resp = await fetch("https://pokeapi.co/api/v2/pokemon?limit=151");
  const pokemons = (await resp.json()) as PokemonListResponse;
  return pokemons.results.map((pokemon) => ({
    params: { id: pokemon.url.split("/").at(-2), name: pokemon.name },
    props: { name: pokemon.name, url: pokemon.url },
  }));
}) satisfies GetStaticPaths;

const { id, name } = Astro.params;
const { url } = Astro.props;
const audioSrc = `https://raw.githubusercontent.com/PokeAPI/cries/main/cries/pokemon/latest/${id}.ogg`
---

<PokemonMainLayout title="Pokemon Page">
  <section class="flex flex-col items-center">
    <div class="mb-3">
      <a href="/pokemons/1">Regresar</a>
    </div>
    <PokemonCard name={name} url={url} isBig />
    <audio controls class="mt-5"> 
      <source src={audioSrc} type="audio/ogg">
      No compoatible con el navegador
    </audio>
  </section>
</PokemonMainLayout>