---
import MainLayout from "../layouts/MainLayout.astro";

const name = "Vengardus";
---
<MainLayout >
	<h1>{name}</h1>
		<p>Current time: {new Date().toLocaleTimeString()}</p>
		<p id="time-now">Current Time Now:</p>	

		
		<script>
			const yearFooter = document.querySelector('footer') as HTMLElement; 
			const timeNowParagraph = document.querySelector('#time-now') as HTMLParagraphElement;
		
			const year = new Date().getFullYear();
			yearFooter.innerHTML = `<p>Copyright ${year}</p>`
			setInterval(() => {
				timeNowParagraph.innerHTML = `Current Time Now: ${new Date().toLocaleTimeString()}`;
			}, 1000)
		</script>
</MainLayout>	
	

