---
// Code Server Side Only: Build Time
import type { PokemonListResponse } from "@/interfaces/pokemon-list.response.interface";
import PokemonMainLayout from "@/layouts/PokemonMainLayout.astro";
import PokemonCard from "@/components/pokemons/PokemonCard.astro";
import Title from "@/components/shared/Title.astro";

const resp = await fetch("https://pokeapi.co/api/v2/pokemon");
const pokemons = (await resp.json()) as PokemonListResponse;
---

<PokemonMainLayout title="Pokemons Page">
  <Title>Pokemons</Title>
  <section
    aria-label="Pokemon List"
    class="grid grid-cols-1 sm:grid-cols-4 md:grid-cols-5 gap-4 my-3"
  >
    {
      pokemons.results.map((pokemon) => (
        <PokemonCard name={pokemon.name} url={pokemon.url} />
      ))
    }
  </section>
</PokemonMainLayout>
