---
import { Counter } from "@/components/shared/Counter";
import Title from "@/components/shared/Title.astro";
import PokemonMainLayout from "@/layouts/PokemonMainLayout.astro";


---

<PokemonMainLayout title="Favorites">
  <Title>Islas</Title>

  <div class="h-[2000px] bg-red-200"></div>

  <!-- <Counter client:only="solid-js"/> -->
  <Counter client:visible/>
</PokemonMainLayout>  
